<a href="https://colab.research.google.com/github/Almattony/Data-science_numpy/blob/main/_1series_ma%CA%BClumotlar_tuzilmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import Series

In [5]:
obj = Series([4, 5, 6, -6.5])

In [8]:
print(obj)

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [7]:
type(obj)

pandas.core.series.Series

In [9]:
obj.values

array([ 4. ,  5. ,  6. , -6.5])

In [12]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
obj[1]

5.0

In [14]:
obj2 = Series([5, 8, 4, 2, 7], index = ['a', 'b', 'c', 'd', 'e'])

In [15]:
obj2

a    5
b    8
c    4
d    2
e    7
dtype: int64

In [16]:
obj2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
obj2['c']

4

In [22]:
obj2[['a', 'c', 'b']]

a    5
c    4
b    8
dtype: int64

In [23]:
obj2[obj2 > 5]

b    8
e    7
dtype: int64

In [24]:
obj2

a    5
b    8
c    4
d    2
e    7
dtype: int64

In [25]:
obj2[obj2 < 5]

c    4
d    2
dtype: int64

In [26]:
obj2 * 2

a    10
b    16
c     8
d     4
e    14
dtype: int64

In [27]:
np.exp(obj2)

a     148.413159
b    2980.957987
c      54.598150
d       7.389056
e    1096.633158
dtype: float64