<a href="https://colab.research.google.com/github/Almattony/Data-science_numpy/blob/main/_2lug%CA%BBatdan_series_yaratish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from pandas import Series

In [4]:
lugat = {'Malibu' : 40000, 'Lasetti': 20000, 'Toyota': '450000', 'Mazda': 52000, "Honda" : 38000}
lugat

{'Malibu': 40000,
 'Lasetti': 20000,
 'Toyota': '450000',
 'Mazda': 52000,
 'Honda': 38000}

In [5]:
type(lugat)

dict

In [6]:
cars = Series(lugat) # biz bul jerde lugatimizdi Series mag'/lar turine awdarip aldiq
# yang'niy bul arqali biz pythondag'i lug'atti da series awdara alamiz eken

In [7]:
type(cars)

pandas.core.series.Series

In [8]:
cars

Malibu      40000
Lasetti     20000
Toyota     450000
Mazda       52000
Honda       38000
dtype: object

In [9]:
cars = Series({'Malibu' : 40000, 'Lasetti': 20000, 'Toyota': '450000', 'Mazda': 52000, "Honda" : 38000})

In [10]:
cars

Malibu      40000
Lasetti     20000
Toyota     450000
Mazda       52000
Honda       38000
dtype: object

In [11]:
"Malibu" in cars

True

In [12]:
"Nexia" in cars

False

In [13]:
cars["Toyota"]

'450000'

In [18]:
models = ['Honda', 'Mazda', 'Lasetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW']

In [19]:
cars2 = Series(cars, index = models)

In [20]:
cars2

Honda       38000
Mazda       52000
Lasetti     20000
Jaguar        NaN
Malibu      40000
Toyota     450000
BMW           NaN
dtype: object